div#input
  div#message(style='color:red;')
  div#nicknameform
    ニックネーム設定
    input#nickname
    button#nicknamepost 設定
  div#chatform
    メッセージ送信
    input#chat(type='text')
    button#chatpost 送信
div#output

